<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                E-book Seller
            </h1><p class="lead">Learn web dev front to back</p>
            <form action="/charge" method="POST"> 
                <script
                    src="//checkout.stripe.com/checkout.js"
                    class="stripe-button" 
                    data-key="{{stripePublishableKey}}"
                    data-amount="1700"
                    data-currency="eur" 
                    data-name="Web Dev E-book" 
                    data-description="Excellent e-book for web dev" 
                    data-image="./img/marketplace.png" 
                    data-locale="auto" > 
                </script> 
            </form>
        </div>
        <div class="col-md-6">
            <img src="./img/book.png" alt="book_cover" class="img-fluid ">
        </div>
    </div>
</section>