<section class="py-5">
    <h1 class="display-3">
        Thank you. Your payment is successful.
    </h1>
    <p class="lead">
        Your e-book will be emailed to you within 2 days
    </p>
    <a href="/" class="btn btn-dark btn-lg">Continue shopping</a>
</section>